.container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 560px;
    background-color: rgb(189, 189, 189);
}
.screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
    height: 80px;
    background-color: grey;
    font-size: 50px;
    overflow: hidden
}
.result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    width: 350px;
    height: 60px;
    background-color: rgb(101, 158, 90);
    font-size: 50px;
    overflow: hidden
}

.buttons {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    gap: 15px;
}
.buttons > div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 60px;
    font-size: 30px;
    background-color:rgb(143, 137, 137);
}

.buttons > div:hover {
    background-color:rgb(114, 108, 108) ;
}